html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #1F2421;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calculadora {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	font-size: 30px;
	color: #216869;

}

h2 {
	font-size: larger;
	text-align: center;
	color: #2d6364;
	margin-bottom: 30px;
}

.grid-container {
	width: 280px;
	display: grid;
	grid-template-columns: repeat(4, 70px);
	grid-template-rows: repeat(5, 70px);
	background-color: #216869;
	padding: 16px;
	margin: auto;
}

.grid-item {
	background-color: #6eda9c;
	border: 1px solid black;
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.grid-item:hover {
	cursor: pointer;

}

.zeroButton {
	grid-column: 1 / 3;
}

.equalButton {
	grid-column: 4;
	grid-row: 4 / span 2;
	display: flex;
	align-items: center;
	justify-content: center;
}